APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

TRACER_SEND_DELAYED=3
TRACER_ENABLE_GUZZLE=true
TRACER_ENABLE_REDIS=true
TRACER_ENABLE_DB=true
TRACER_ENABLE_METHOD=true
ZIPKIN_ENDPOINT_URL=http://210.74.12.246:9411/api/v2/spans
ZIPKIN_TIMEOUT=1

